<meta charset="utf-8">
<script>
$(document).ready(function(){
	//id를 바꾸고 update버튼을 클릭했을 때
	$('#updatebtn').click(function(){
		//수정할 것인지 먼저 confirm
		var c = confirm('수정 하시겠습니까 ?');
		if(c== true){
			//이때만 attribute setting을 하고
			$('#update_form').attr({
				//form사이에 있는 것이 post의 형태로 updateimpl부분의 서버로 보내짐
				'method':'post',
				'action':'/custupdateimpl'
			});
			//보낸다.
			$('#update_form').submit();
		}else{
			return;
		}
	});
});
</script>
<h3>Cust Detail Page</h3>
<form id="update_form">
	ID:<input type="text" name="id" th:value="${custupdate.id}" readonly="readonly"><br>
	PWD:<input type="text" name="pwd" th:value="${custupdate.pwd}"><br>
	NAME:<input type="text" name="name" th:value="${custupdate.name}"><br>
</form>
<h4><a href="#" id="updatebtn">Submit</a></h4>