<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<!-- style임!! main.css로 연결 -->
<link rel="stylesheet" href="css/main.css">

<!-- style임!! main.js로 연결 -->
<script src="js/main.js"></script>
</head>
<body>
	<h1>Main page</h1>
	<h2><a href="/np1.nhn">Next Page 1</a></h2>
	<h2><a href="/np2">Next Page 2</a></h2>
	<h2><a href="/np3">Next Page 3</a></h2>
	<h2><a href="/np4">Next Page 4</a></h2>
	<h2><a href="/np5">Next Page 5</a></h2>
	<img src="img/p1.jpg">
</body>
</html>