@charset "EUC-KR";
/* css 페이지를 따로 떼어서 쓸 때는 import로 씀!*/
/* 폰트를 사용하기 위해서 하는 import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Noto+Sans+KR:wght@900&family=Roboto+Mono:ital,wght@1,700&display=swap');
/* 여기서 css파일을 연결해봐야한다.*/
/* ---(수정할 부분)--- */
/* ---------------------*/
	#cust_tb{
		width:300px;
		border:2px solid black;
		border-collapse: collapse; /* 기본으로 띄어진 부분 없애줌 */
		/* css에 이미지를 가지고 오고 싶을 때 직접 css folder에 이미지를 추가해서 사용함*/
		background-image: url("screen.jpeg");
	}
	#cust_tb , tr , td, th{
	/* 검정색 실선을 그려줘라 */
		border:1px solid black;
	}
	#cust_tb > thead > tr > th{
	/* cust_tb안에 thead안에 tr안에 th의 폰트 변경 */
		font-family: 'Roboto Mono', monospace;
	}
	#cust_tb > tbody > tr > td{
		text-align:center; /* text중앙에 두라 */
		font-family: 'Noto Sans KR', sans-serif;
	}
	#cust_tb > tbody > tr:nth-child(2n+1){
		background:yellow;
	}
	#cust_tb > tbody > tr:hover{
	/* 마우스를 올려보면 다른 색으로 변하게끔 해주는 기능 */
		background: gray;
	}