<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>P1 Page</h1>
	<p>P&lt;a&gt;ragraph1</p> <!-- spacing은 한개는 먹음 여러개를 쳐도 하나만 먹음 -->
	<p>P&nbsp;aragraph2</p>
	<a href="http://www.naver.com">Naver</a>
	<a href="http://www.daum.net">Daum</a>
	<a href="/">Home</a> <!-- 내 main page로 이동 -->
	<a href="/p3">Page3</a>
	<hr> <!-- 라인을 만들어줌 -->
	<a href="#h1">First</a><a href="#h11">Second</a> <!-- 특정한 영역으로 이동을 할 수 있게 해줌  -->
	<hr>
	<h1>Header1</h1>
	<h1>Header2</h1>
	<h1>Header3</h1>
	<h1>Header4</h1>
	<h1 id="h1">Header5</h1>
	<h1>Header6</h1>
	<h1>Header7</h1>
	<h1>Header8</h1>
	<h1>Header9</h1>
	<h1>Header10</h1>
	<h1 id="h11">Header11</h1>
	<h1>Header12</h1>
	<h1>Header13</h1>
	<h1>Header14</h1>
	<h1>Header15</h1>
	</body>
</html>