<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
/* 앞에 동그라미나 순서 없애주는 것 */
ul{
	list-style : none;
}

/* ul안의 li들에 대한 것 */
ul > li{ 
	float:left; /* 왼쪽정렬 */
	margin: 0 20px;
}
a{
	text-decoration: none;
	color:black;
	font-weight:bold;
}
</style>
</head>
<body>
	<h1>P2 Page</h1>
	<ul>
		<li><a href="">HOME</a></li> <!-- link사용시 a를 씀 -->
		<li><a href="#">WOMAN</a></li> <!-- link사용안할 시 #를 씀 -->
		<li><a href="">MAN</a></li>
		<li><a href="#">CHILD</a></li>
	</ul>
	
</body>
</html>