<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- table css를 따로 만들어서 써준다. -->
<link rel="stylesheet" href="css/table.css">
</head>
<body>
	<!-- table을 만들어라 -->
	<h1>CSS03</h1>
	<!-- table의 아이디를 지정함. -->
	<table id="cust_tb">
		<!-- table머리를 만듦 -->
		<thead>
			<tr><th>id</th><th>password</th><th>name</th></tr>
		</thead>
		<!-- table항목마다 들어갈 내용 -->
		<tbody>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
			<tr><td>id02</td><td>pwd02</td><td>김말숙</td></tr>
			<tr><td>id03</td><td>pwd03</td><td>조말숙</td></tr>
			<tr><td>id04</td><td>pwd04</td><td>유말숙</td></tr>
			<tr><td>id05</td><td>pwd05</td><td>고말숙</td></tr>
		</tbody>
	</table>

</body>
</html>