<meta charset="utf-8">
<style>
	table>tbody>tr>td>a>img{
		width:100px;
	}
	table>tbody>tr>td>a>img:hover{
		width:99px;
		border:1px solid red;
	}
</style>
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>No</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    	<!-- 우리가 itemlist에다가 item들을 넣어주었음! 다시 걔를 it로 지정함! -->
      <tr th:each="it:${itemlist}">
        <td><a th:href="@{/itemdetail(id=${it.id})}"><img th:src="'/img/'+${it.imgname}"></a></td>
        <td th:text="${it.id}">no</td>
        <td th:text="${it.name}">name</td>
        <td th:text="${it.price}">price</td>
    </tbody>
  </table>
</div>
