<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- style임!! main.css로 연결 -->
<link rel="stylesheet" href="css/p2.css">
</head>
<body>
	<h1>TABLE PAGE</h1>
	<!-- 보통은 이런 부분은 css로 처리해라! -->
	<table border="2px" width="400px">
		<thead>
			<tr><th>ID</th><th>PWD</th><th>NAME</th></tr>
		</thead>
		<tbody>
			<!-- column 2개를 쓰겠다. => colspan -->
			<tr><th>id01</th><th>pwd01</th><th>이말숙</th></tr>
			<tr><th>id02</th><th>pwd02</th><th>조윤영</th></tr>
			<tr><th>id03</th><th>pwd03</th><th>조인영</th></tr>
			<tr><th>id04</th><th>pwd04</th><th>조항규</th></tr>
			<tr><th>id05</th><th>pwd05</th><th>김명희</th></tr>
		</tbody>
		
	</table>	
</body>
</html>