<meta charset ="utf-8">
<style>
	#center_div{
		width:400px;
		border:2px solid red;
	}
</style>

<script>
window.onload = function(){
	//이 배열의 내용을 center에 뿌린다.
	//objects
	//JSON:객체화시켜서 데이터들을 담는 방법
	var data = [
		{'num':1,'title':'오징어게임','updown':'up'},
		{'num':2,'title':'태풍','updown':'up'},
		{'num':3,'title':'러시아','updown':'up'},
		{'num':4,'title':'우크라이나','updown':'up'},
		{'num':5,'title':'전쟁','updown':'up'}
	];//서버에서 가져올 데이터임
	
	var result = ' ';
	//id를 가져올 때는 #로, class를 가져올 때는 .
	var center = document.querySelector('#center_div');
	for(var i in data){
		result += '<h3>'+data[i].num+' '+data[i].title+' '+data[i].updown+'</h3>';
	};
	
	center.innerHTML = result;
};
	
</script>

<h1>JS06 Center</h1>
<div id="center_div"></div>