<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/css08.css"> <!-- 기준점은 늘 static file임! -->
<style>
</style>
</head>
<body>
	<header>
		<ul id="h_top"><!-- 일단은 다른 곳으로 목가게 막아놈 -->
			<li><a href="#">LOGIN</a></li>
			<li><a href="#">REGISTER</a></li>
			<li><a href="#">ABOUT US</a></li>
		</ul>
		<h1>HTML5 & CSS3.0</h1>
		<ul id="h_bottom"><!-- 일단은 다른 곳으로 목가게 막아놈 -->
			<li><a href="#">HTML5</a></li>
			<li><a href="#">CSS3</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">jQuery</a></li>
			<li><a href="#">AJAX</a></li>
		</ul>
	</header>
	<nav>
	</nav>
	<section>
		<aside id="left_a">
			<div class ="big_bt">
				<a href="#">CLICK</a>
			</div>
			<div class ="big_bt">
				<a href="#">CLICK</a>
			</div>
			<div class ="big_bt">
				<a href="#">CLICK</a>
			</div>
			<div class ="big_bt">
				<a href="#">CLICK</a>
			</div>
			<div class ="big_bt">
				<a href="#">CLICK</a>
			</div>
		
		</aside>
		<aside id="center_a">
			<div>
			</div>
			<div></div>
		</aside>
			
		<aside id="right_a">
			<img src="https://via.placeholder.com/80x50">
			<img src="https://via.placeholder.com/80x50">
			<img src="https://via.placeholder.com/80x50">
		</aside>
	</section>
	<footer>
	</footer>
</body>
</html>