<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- 다른 css 파일로 끌어쓰지 않을 때는 link를 넣어서 써줘야함! -->
<link rel="stylesheet" href="css/css03.css">

<style>
	#cust_tb{
		background-image: url("img/screen.jpeg")
	}
</style>
</head>
<body>
	<h1>CSS03</h1>
	<table id="cust_tb">
		<thead>
			<tr><th>id</th><th>password</th><th>name</th></tr>
		</thead>
		<tbody>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
			<tr><td>id02</td><td>pwd02</td><td>김말숙</td></tr>
			<tr><td>id03</td><td>pwd03</td><td>조말숙</td></tr>
			<tr><td>id04</td><td>pwd04</td><td>유말숙</td></tr>
			<tr><td>id05</td><td>pwd05</td><td>고말숙</td></tr>
		</tbody>
	</table>
</body>
</html>