<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	*{
		margin:0;
	}
	div{
		width:300px;
		height:300px;
		border:2px solid red;
	}
	#d1{
		background:blue;
	}
	#d1 > span{
		/* span의 속성을 block으로 바꿔줄 수도 있음 */
		display:block;
		margin:10px;
	}
	#d2{
		background:yellow;
		/* 북 동 서 남 */
		margin:10px 20px 30px 40px;
		/* display: none ->영역까지 사라지게함 */
		 visibility: hidden;
	}
	#d3{
		background:green;
		/* x, y */
		margin:0 auto;
	}
</style>
</head>
<body>
	<h1>CSS04</h1>
	<!-- 박스모델임 영역을 나누는 -->
	<div id="d1"><span>span</span></div>
	<div id="d2"></div>
	<div id="d3"></div>
</body>
</html>