<meta charset="utf-8">
<script>
$(document).ready(function(){
	$('#register_btn').click(function(){
		$('#register_form').attr({
			//form사이에서 파일로 전송을 할때는 여기서 타입을 변경한 후 전송이 되게 됨!
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'/item/registerimpl'
		});
		$('#register_form').submit();
	});
});
</script>
<!-- Page Heading -->
<div
	class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Register item</h1>
	<a href="#"
		class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
		class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<!-- register Area -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Item
			Register</h6>
	</div>
	<div class="card-body">
		<form id="register_form">
			<div class="form-group">
				<!-- for은 바로 밑줄의 id를 의미함! -->
				<label for="name">NAME:</label>
				<!-- name은 서버에 전송될때 사용되는 변수! -->
				<input type="text" class="form-control" id="name" placeholder="Enter NAME"
					name="name"> <span id="ispan"></span>
			</div>
			<div class="form-group">
				<label for="price">Price:</label> <input placeholder="Enter price"
					type="number"class="form-control" id="price" name="price">
			</div>
			<div class="form-group">
				<label for="img">Image:</label>
				<!-- name은 서버 전송시 쓰일 변수임 -->
				<!-- 서버에는 전송되지 않음 -->
				<input type="file" class="form-control" id="img"
					placeholder="Enter IMG" name="img">
			</div>
		</form>
		<button id="register_btn"class="btn btn-default">REGISTER</button>
	</div>
</div>
<!-- 필요하면 이밑에 content row를 넣으면 됨! -->