<style>
	#cust_table{
		width:300px;
		border:2px solid red; 
	}
	.thead{ 
		color:red;
		background:black;
	}
</style>
<script>
$(document).ready(function(){
	$('#cust_table > thead > tr').addClass('thead');
	$('#cust_table > thead > tr').click(function(){
		$('#cust_table > tbody').append('<tr><td>id01</td><td>pwd01</td><td>james</td></tr>');
	});
	$('#cust_table > tbody > tr').hover(function(){
		$(this).addClass('thead');
	}, function(){
		$(this).removeClass('thead');
	});
	//$('#cust_table > tbody > tr:not(tr:eq(1))').addClass('thead');
	$('#fin').click(function(){
		$('#cust_table').slideDown();
	});
	$('#fout').click(function(){
		$('#cust_table').slideUp();
	});
});
</script>
<h1>JQ02 Center</h1>
<button id="fin">FadeIN</button>
<button id="fout">FadeOUT</button>
<table id="cust_table">
	<thead>
		<tr><th>ID</th><th>PWD</th><th>NAME</th></tr>
	</thead>
	<tbody>
		<tr><td>id01</td><td>pwd01</td><td>james</td></tr>
		<tr><td>id01</td><td>pwd01</td><td>james</td></tr>
		<tr><td>id01</td><td>pwd01</td><td>james</td></tr>
		<tr><td>id01</td><td>pwd01</td><td>james</td></tr>
		<tr><td>id01</td><td>pwd01</td><td>james</td></tr>
	</tbody>
</table>


