<meta charset="utf-8">
<script>
$(document).ready(function(){
	var str = $('.center > h1').text();
	$('.center > h1').text('LOGIN');
	
	$('#login_form > input[name="id"]').keyup(function(){
		$('#login_form > #id_span').text('');
	});
	
	$('#login_form > input[name="id"]').blur(function(){
		var id = $(this).val();
		if(id.length < 4){
			$('#login_form > #id_span').text('ID는 4자리 이상이어야 합니다.');
			$(this).focus();
		}
	});
	
	$('#login_form > input[name="pwd"]').keyup(function(){
		$('#login_form > #pwd_span').text('');
	});
	$('#login_bt').click(function(){
		var id = $('#login_form > input[name="id"]').val();
		var pwd = $('#login_form > input[name="pwd"]').val();
		if(id == ''){
			$('#login_form > #id_span').text('ID는 필수항목 입니다.');
			return;
		}
		if(pwd == ''){
			$('#login_form > #pwd_span').text('PWD는 필수항목 입니다.');
			return;
		}
		$('#login_form').attr({'action':'/loginimpl','method':'post'});
		$('#login_form').submit();
	});
});
</script>


<div class="center">

<h1>JQ03 Center</h1>

<form id="login_form">
	ID<input type="text" name="id"><span id="id_span"></span><br>
	PWD<input type="password" name="pwd"><span id="pwd_span"></span><br>
</form>
<button id="login_bt">LOGIN</button>
</div>





