<style>
	#content{
		width:500px;
		border:2px solid red; 
	}
</style>
<script>

$(document).ready(function(){
	var cnt = 0;
	$('#append').click(function(){
		cnt++;
		$('#content').append('<h1>**append:'+cnt+'</h1>');
	});
	$('#prepend').click(function(){
		cnt++;
		$('#content').prepend('<h1>**prepend:'+cnt+'</h1>');
	});
	$('#after').click(function(){
		cnt++;
		$('#content').after('<h1>**after:'+cnt+'</h1>');
	});
	$('#before').click(function(){
		cnt++;
		$('#content').before('<h1>**before:'+cnt+'</h1>');
	});
	$('#remove').click(function(){
		$('#content').remove();
	});
	$('#empty').click(function(){
		$('#content').empty();
	});
});
</script>

<h1>JQ04 Center</h1>
<button id="append">APPEND</button>
<button id="prepend">PREPEND</button>
<button id="after">AFTER</button>
<button id="before">BEFORE</button>
<button id="remove">REMOVE</button>
<button id="empty">EMPTY</button>
<div id="content"></div>

